<%= render 'layouts/navigation' %>
<%= render 'layouts/popup', :locals => {:destination => '#collection'}%>

<section class="collection" id="collection">
  <img src="assets/coleccion/3_mesas_1.jpeg" alt="" class="collection__img-1">
  <img src="assets/coleccion/3_mesas_2.jpeg" alt="" class="collection__img-2">
  <img src="assets/coleccion/mesa_amarilla.jpeg" alt="" class="collection__img-3">
  <img src="assets/coleccion/mesa_azul_1.jpeg" alt="" class="collection__img-4">
  <img src="assets/coleccion/mesa_azul_2.jpeg" alt="" class="collection__img-5">
  <img src="assets/coleccion/mesa_azul_3.jpeg" alt="" class="collection__img-6">
  <img src="assets/coleccion/mesa_verde.jpeg" alt="" class="collection__img-7">
  <img src="assets/coleccion/mesa_verde_2.jpeg" alt="" class="collection__img-8">
</section>

<%= render 'layouts/footer' %>
