<%= render 'layouts/navigation' %>
<%= render 'layouts/popup', :locals => {:destination => '#gallery'}%>

<section class="gallery" id="gallery">
  <img src="assets/gallery/buffet_negro.jpeg" alt="DF gallery" class="gallery__img-1">
  <img src="assets/gallery/decoracion_naranja.jpeg" alt="DF gallery" class="gallery__img-2">
  <img src="assets/gallery/espejo.jpeg" alt="DF gallery" class="gallery__img-3">
  <img src="assets/gallery/mesa_amarilla_azul_2.jpeg" alt="DF gallery" class="gallery__img-4">
  <img src="assets/gallery/mesa_amarilla_azul.jpeg" alt="DF gallery" class="gallery__img-5">
  <img src="assets/gallery/mesa_amarilla.jpeg" alt="DF gallery" class="gallery__img-6">
  <img src="assets/gallery/mesa_azul_2.jpeg" alt="DF gallery" class="gallery__img-7">
  <img src="assets/gallery/mesa_azul_3.jpeg" alt="DF gallery" class="gallery__img-8">
  <img src="assets/gallery/mesa_azul.jpeg" alt="DF gallery" class="gallery__img-9">
  <img src="assets/gallery/mesa_lateral_azul_2.jpeg" alt="DF gallery" class="gallery__img-10">
  <img src="assets/gallery/mesa_lateral_azul.jpeg" alt="DF gallery" class="gallery__img-11">
  <img src="assets/gallery/mesa_negra.jpeg" alt="DF gallery" class="gallery__img-12">
  <img src="assets/gallery/mesa_roja_2.jpeg" alt="DF gallery" class="gallery__img-13">
  <img src="assets/gallery/mesa_roja.jpeg" alt="DF gallery" class="gallery__img-14">
  <img src="assets/gallery/mesa_roja_3.jpeg" alt="DF gallery" class="gallery__img-15">
  <img src="assets/gallery/mesa_verde.jpeg" alt="DF gallery" class="gallery__img-16">
  <img src="assets/gallery/mesa_verde_2.jpeg" alt="DF gallery" class="gallery__img-17">
  <img src="assets/gallery/mesa_verde_3.jpeg" alt="DF gallery" class="gallery__img-18">
  <img src="assets/gallery/patchwork_espejo.jpeg" alt="DF gallery" class="gallery__img-19">

  <img src="assets/gallery/patchwork_verde.jpeg" alt="DF gallery" class="gallery__img-21">
  <img src="assets/gallery/patchwork.jpeg" alt="DF gallery" class="gallery__img-22">

</section>
  <%= render 'layouts/footer' %>
