
<section class="home" id="home">
  <div class="home__left">
    <%= link_to "Colleccion 2021", collection_path, class:"home__left--collection" %>
    <%= link_to "Tienda ->", furnitures_path, class: "home__left--enter link" %>
    <img src="assets/logo/logo_df.png" alt="logo" class="home__left--logo">
  </div>
  <div class="home__middle">
    <img src="assets/logo/logo_df.png" alt="logo" class="home__middle--logo">
    <img src="assets/logo/logo_df.png" alt="logo" class="home__middle--logo">
    <img src="assets/logo/logo_df.png" alt="logo" class="home__middle--logo">
    <img src="assets/logo/logo_df.png" alt="logo" class="home__middle--logo home__middle--logo-last">
    <%= link_to "Ver productos", furnitures_path, class: "home__middle--link" %>
  </div>
  <div class="home__right">
    <%= link_to "Galeria", gallery_path, class: "home__right--gallery" %>
  </div>
</section>
