/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$color-nav-1: rgba(255, 215, 0, .95);
$color-nav-2: rgba(30, 144, 255, .95);

$primary-light: #e8d9c9;
$primary-dark: #f9d9b8;

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
      @media screen and (max-width: 37.5em) { @content };
  }

    @if $breakpoint == tab-port {
      @media screen and (max-width: 56.25em) { @content };
  }

    @if $breakpoint == tab-land {
      @media screen and (max-width: 75em) { @content };
  }

    @if $breakpoint == big-desktop {
      @media screen and (min-width: 112.5em) { @content };
  }
}


 *,
 *::after,
 *::before {
   margin: 0;
   padding: 0;
   box-sizing: inherit;
 }

 ::selection {
   background-color: $color-nav-1;
   color: #000000;
 }

 html {
   font-size: 62.5%;
   font-family: 'Roboto', sans-serif;

   @include respond(tab-land) {font-size: 56.25%;}
   @include respond(tab-port) {font-size: 50%;}
   @include respond(phone) {font-size: 45%;}
   @include respond(big-desktop) {font-size: 75%;}
 }


 body {
   box-sizing: border-box;
 }

 @keyframes moveInLeft {
   0% {
     opacity: 0;
     transform: translateX(-20rem) translateY(-3.5rem);
   }

   100% {
     opacity: 1;
     transform: translate(0) translateY(-3.5rem);
   }
 }

 .navigation {
   padding-left: 5rem;
   height: 10rem;
   width: 100%;
   background-image: linear-gradient(130deg, $color-nav-1 0%, $color-nav-1 65%, rgba(255,255,255, 0.9) 65%);
   position: fixed;
   z-index: 1000;
   box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.05);

   @media (max-width: 75em) {
     background-image: linear-gradient(130deg, $color-nav-1 0%, $color-nav-1 73%, rgba(255,255,255, 0.9) 73%);
   };

   @media (max-width: 56.25em) {
     background-image: linear-gradient(130deg, $color-nav-1 0%, $color-nav-1 100%);
   };

   @media (max-width: 37.5em) {
     background-image: linear-gradient(130deg, $color-nav-1 0%, $color-nav-1 100%);
     height: 15rem;
     position: relative;
     padding-left: 0;
   };

   &__link,
   &__dropdown {
     text-decoration: none;
     text-transform: uppercase;
     display: inline-block;
     color: #fff;
     margin-right: 4rem;
     font-size: 2rem;
     padding-top: 2rem;
     transition: all .3s;

     @media (max-width: 37.5em) {
       font-size: 2.8rem;
       margin-right: 0;
       padding-top: 0;
     };

     &:hover {
       border-bottom: 1px solid #fff;
       padding-bottom: 3px;
     }
   }

   &__dropdown {
     @media (max-width: 37.5em) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1rem;
      }
   }


   &__link--1 {
     @media (max-width: 37.5em) {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }

    &__link--2 {
      @media (max-width: 37.5em) {
         position: absolute;
         top: 50%;
         right: 1rem;
         transform: translateY(-50%);
       }
     }

   &__link--3 {
     @media (max-width: 37.5em) {
        position: absolute;
        bottom: 1rem;
        right: 1rem;
      }
    }

   &__dropbtn {
      background-color: transparent;
      border: none;
      cursor: pointer;
   }

   &__dropdown {
     position: relative;
     display: inline-block;

     &--content {
       display: none;
       font-size: 1.8rem;
       position: absolute;
       background-color: #f0e9e0;
       min-width: 16rem;
       padding-right: 2rem;
       box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
       z-index: 5000;
       list-style: none;
     }

     &--link {
       color: black;
       padding: 1rem 3px;
       text-decoration: none;
       display: block;
       transition: all .3s;

       &:hover {
         transform: translateX(2rem);
       }
     }

     &:hover &--content {
       display: block;
     }
   }

   &__logo {
     height: 180%;
     transform: translateY(-3.5rem);
     padding-right: 5rem;
     width: auto;
     display: inline-block;
     float: right;
     animation: moveInLeft 1.5s;

     @media (max-width: 56.25em) {
       visibility: hidden;
     };
   }
 }

 .footer {
   height: 10rem;
   background-image: linear-gradient(130deg, rgba(255,255,255, 0.9) 0%, rgba(255,255,255, 0.9) 35%, $color-nav-1 35%);
   overflow: hidden;
   position: relative;

   @media (max-width: 75em) {
     background-image: linear-gradient(130deg, rgba(255,255,255, 0.9) 0%, rgba(255,255,255, 0.9) 30%, $color-nav-1 30%);
   };

   @media (max-width: 37.5em) {
     background-image: linear-gradient(130deg, rgba(255,255,255, 0.9) 0%, rgba(255,255,255, 0.9) 40%, $color-nav-1 40%);
     transform: translateY(-13rem);
   };

   &__logo {
     height: 180%;
     transform: translateY(-3.5rem);
     padding-left: 5rem;
     width: auto;
     display: inline;
     float: left;

     @media (max-width: 56.25em) {
       padding-left: 0;
     };
   }

   &__instagram,
   &__mail {
     float: right;
     color: #fff ;
     font-size: 2.5rem;
     padding-right: 5rem;
     line-height: 3.5rem;
     padding-top: 3rem;
   }

   &__instagram {

     @media (max-width: 56.25em) {
       font-size: 2.3rem;
       padding-right: 2rem;
     }

     @media (max-width: 37.5em) {
       position: absolute;
       top: 0;
       right: 0;
       padding-top: 1.3rem;
       font-size: 2rem;
       padding-right: 3rem;
     }
   }

   &__mail {

     @media (max-width: 56.25em) {
       font-size: 2.3rem;
       padding-right: 2rem;
     }

     @media (max-width: 37.5em) {
       position: absolute;
       bottom: 1.3rem;
       right: 0;
       padding-top: 0;
       font-size: 2rem;
       padding-right: 3rem;
     }
   }

   &__instagram-link {
       text-decoration: none;
   }
 }

.popup {
  z-index: 2500;
  transition: all .5s;
  background-color: rgba(255,255,255,.8);
  height: 100vh;
  width: 100%;
  position: relative;
  opacity: 0;
  visibility: hidden;
  position: fixed;

  @media (max-width: 37.5em) {
    transform: translateY(-15rem);
  }

  &__content {
    position: absolute;
    display: table;
    width: 100rem;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: #fff;
    border: 4px;
    padding: 2rem 3rem;
    border-color: #fff;
    border-style: solid;
    border-radius: 1rem;
    background-image: linear-gradient(to bottom right, $primary-dark, $primary-light);
    background-size: contain;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.15);

    @media (max-width: 75em) {
      width: 89rem;
    }

    @media (max-width: 56.25em) {
      width: 55rem;
    }

    @media (max-width: 37.5em) {
      width: 40rem;
    }
  }

  &__text {
    float: right;
    width: 65%;
    text-align: justify;
    padding: auto 3rem;

    @media (max-width: 56.25em) {
      float: none;
      width: 100%;
    }

    &-1 {
      padding-bottom: 2rem;
    }
  }

  &__image {
    float: left;
    width: 33%;

    @media (max-width: 75em) {
      padding-top: 4rem;
    }

    @media (max-width: 56.25em) {
      display: none;
    }

    &-1 {
      width: 100%;
      border-radius: 3px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.15);

      @media (max-width: 56.25em) {
        display: none;
      }
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }


  &__close {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: inline-block;
    color: transparent;
  }
}
