<section class="footer">
  <a href="/"><img src="assets/logo/logo_df.png" alt="logo" class="footer__logo"></a>
  <a href="https://www.instagram.com/diseno.franchute/?hl=es" class="footer__instagram-link"><p class="footer__instagram">@diseno.franchute</p></a>
  <p class="footer__mail">diseno.franchute@gmail.com</p>
</section>
