<div class="popup" id="popup">
  <a href="<%=locals[:destination]%>" class="popup__close">&#8709;</a>
  <div class="popup__content">
    <div class="popup__image"><img src='<%= asset_path 'logo/nosotros.jpg' %>' alt="Nosotros" class="popup__image-1"></div>
    <div class="popup__text">
      <p class="popup__text-1">Todo empezó en el siglo XVII, cuando maestros constructores franceses e italianos tuvieron la idea de pintar una falsificación de mármol sobre los muros de los palacios y las iglesias, porque el uso de la piedra les resultaba muy difícil. Rápidamente esta técnica fue considerada como un arte, de tal forma que las pinturas de mármol de los grandes maestros llegaron a ser más prestigiosas que la misma materia.</p>
      <p class="popup__text-1">Hoy día, esta técnica de pintura se ocupa en restauración de patrimonio, pero ya no surge de una búsqueda creativa.  Es así como nace Diseño Franchute. Aprendí esta técnica "faux-marbre" en Francia en 2017, y llegué a Chile en 2019 con la intención de crear una marca en la cual podríamos jugar de nuevo con la falsificación del mármol a través de la creación de nuevas piezas.</p>
      <p class="popup__text-1">De a poco se desarrolló la línea estética de Diseño Franchute, con una atracción para  la curva imperfecta y abstracta, y el uso excesivo de colores y de pan de oro como si fuera la imitación de una piedra pirata imaginaria.</p>
    </div>
  </div>
</div>
