<div class="popup" id="popup">
  <a href="<%=locals[:destination]%>" class="popup__close">&#8709;</a>
  <div class="popup__content">
    <div class="popup__image"><img src="assets/logo/nosotros.jpeg" alt="" class="popup__image-1"></div>
    <div class="popup__text">
      <p class="popup__text-1">Todo empezo cuando en el siglo XVII los maestros constructores en Francia y Italia tuvieron la idea de pintar una falsificacion de marmol sobre los muros de los palacios y las iglesias, porque la utilizacion de la piedra les resultaba muy dificil. Rapidamente esta tecnica se considero un arte hasta tal punto que las pinturas de los grandes maestros estaban mas prestigiosas que el marmol mismo. </p>
      <p class="popup__text-1">Hoy dia es una tecnica de pintura aplicada a la restauracion y no a la creacion. Ahi se genero la idea de Diseño Franchute. Aprendi esa tecnica "faux-marbre" en Francia en 2017, y llegue a Chile en 2019 con la intencion de empezar una marca en cual podriamos juguar de nuevo a crear con la falsificacion de marmol.</p>
      <p class="popup__text-1">De a poco se creo la linea estetica de Diseño Franchute, con una attraccion hacia la curva imperfecta y abstracta, y una utilizacion excessiva de colores y pan de oro como si fuera la imitacion de una piedra pirata imaginaria.</p>
    </div>
  </div>
</div>
